.info-card {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 20px;
        color: var(--clr-i);
    }

    .details {
        font-size: 16px;
        font-weight: normal;
    }
}